.header {
  display: flex;
  align-items: center;

  padding: 3rem;
  background-color: #f5ba13;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  &__logo {
    transform: scale(3);
    margin-right: 2rem;
    color: #fff;
  }

  &__name {
    color: #fff;
  }
}
